<div id="content-wrap" class="container mt-3 mb-5 text-center">
  <div class="row p-4" id="section1">
    <div class="col">
      <button
        class="btn btn-usco-vt mr-2"
        [routerLink]="['/login']"
        routerLinkActive="router-link-active"
      >
        <i class="fa-solid fa-arrow-left"></i> Regresar</button
      ><a href="assets/ManualControlAcceso.pdf" download>
        <button class="btn btn-usco-vt">
          <i class="fa-solid fa-download"></i> Descargar
        </button></a
      >
    </div>
  </div>
  <hr />
  <div id="carouselExampleControls" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col">
            <img
              class="img-fluid"
              src="assets/universidad-surcolombiana.png"
              alt="USCO"
            />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <h1
              class="font-usco-dafault font-weight-bold"
              style="color: #4d626c"
            >
              Módulo Control Acceso <br />
              Guía de Uso
            </h1>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <h2
              class="font-usco-dafault font-weight-bold"
              style="color: #4d626c"
            >
              Importante
            </h2>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img class="img-fluid" src="assets/nav.jpg" alt="USCO" />
          </div>
        </div>
        <div class="row mt-5">
          <div class="col text-left">
            <h3 class="font-weight-bold"><u>Acceso al sistema</u></h3>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              El primer paso para acceder al sistema es dirigirse a la siguiente
              dirección en cualquier navegador disponible:
            </p>
            <p>
              <a
                href=" https://gaitana.usco.edu.co/control_acceso"
                class="font-weight-bold"
              >
                https://gaitana.usco.edu.co/control_acceso</a
              >
            </p>
            <p>
              Es de vital importancia que, al registrarse como Vigilante en el
              sistema de la Universidad, proporcione un correo electrónico
              vigente y en uso. Este correo será el único medio oficial a través
              del cual recibirá información y novedades relacionadas con el uso
              del aplicativo.
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col">
            <img
              class="img-fluid"
              src="assets/universidad-surcolombiana.png"
              alt="USCO"
            />
          </div>
        </div>
        <div class="row mt-5">
          <div class="col text-left">
            <h3 class="font-weight-bold">
              <u>Instalación pwa (app nativa)</u>
            </h3>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              Una
              <span class="font-usco-vt font-weight-bold"
                >Aplicación Web Progresiva</span
              >
              (PWA por sus siglas en inglés) es una aplicación web que utiliza
              tecnologías modernas para brindar una experiencia de usuario
              similar a la de una aplicación nativa. Una PWA combina lo mejor de
              las aplicaciones web y las aplicaciones móviles, permitiendo a los
              usuarios interactuar con la aplicación a través de su navegador
              web sin necesidad de instalarla desde una tienda de aplicaciones.
              <br />
              <span class="font-usco-vt font-weight-bold">Instalable:</span> Una
              PWA puede ser "instalada" en el dispositivo del usuario, lo que
              crea un acceso directo en la pantalla de inicio, similar a una
              aplicación nativa. Esto permite a los usuarios acceder rápidamente
              a la PWA sin necesidad de abrir un navegador y escribir una URL.
            </p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img class="img-fluid" src="assets/iphone.jpg" alt="USCO" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img class="img-fluid" src="assets/android.jpg" alt="USCO" />
          </div>
        </div>
        <div class="row mt-5">
          <div class="col text-left">
            <p>
              Para la instalación de la aplicación web de manera nativa siga las
              instrucciones de la ventana emergente, en caso contrario que no se
              visualice por favor consultar en internet cómo instalar
              aplicaciones PWA según el modelo de su dispositivo.
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col">
            <img
              class="img-fluid"
              src="assets/universidad-surcolombiana.png"
              alt="USCO"
            />
          </div>
        </div>
        <div class="row mt-5">
          <div class="col text-left">
            <h3 class="font-weight-bold">
              <u>Inicio de sesión</u>
            </h3>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img class="img-fluid" src="assets/sesion.jpg" alt="USCO" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              El panel de inicio de sesión cuenta con dos casillas, la primera
              casilla para ingresar el usuario (número de identificación) y la
              segunda casilla para digitar correo electrónico personal
              suministrado para su registro en la plataforma.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img class="img-fluid" src="assets/instructivo.gif" alt="USCO" />
          </div>
        </div>
        <div class="row">
          <div class="col text-left">
            <p>
              En la parte inferior encontrará el instructivo con el cual podrá
              tener una guía rápida de las funcionalidades de la aplicación,
              ante cualquier inquietud comunicarse con el Desarrollador a cargo
              Ing John Guerrero a través del correo:
            </p>
            <p>
              <a href="john.guerrero@usco.edu.co" class="font-weight-bold"
                >john.guerrerousco.edu.co</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col">
            <img
              class="img-fluid"
              src="assets/universidad-surcolombiana.png"
              alt="USCO"
            />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img class="img-fluid" src="assets/token.gif" alt="USCO" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              Después de que el sistema valide las credenciales de inicio de
              sesión, el aplicativo enviará un correo electrónico a su cuenta
              institucional con un código único de acceso, el cual tiene una
              vigencia de 5 minutos.
            </p>
            <p>
              Para acceder, diríjase a la bandeja de entrada de su correo
              institucional y abra el correo con el remitente "carnetizacion#".
              Dentro del correo de token, copie el código resaltado en la imagen
              2 y péguelo en la ventana de solicitud del token en el aplicativo.
              Luego, presione "Validar". Si la autenticación del código no
              coincide, el sistema mostrará la siguiente alerta: "Código de
              verficación incorrecto". Esto puede ocurrir por dos razones:
            </p>
            <ol>
              <li>El token ha caducado debido a su tiempo de validez.</li>
              <li>Ha excedido el número máximo de intentos permitidos.</li>
            </ol>
            <p>
              Para solucionar cualquiera de estos dos casos, refresque la
              ventana.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img class="img-fluid" src="assets/error.jpg" alt="USCO" />
          </div>
        </div>
        <div class="row">
          <div class="col text-left">
            <p>
              Una vez que el código sea autenticado, el sistema le permitirá
              acceder a la siguiente pestaña.
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col">
            <img
              class="img-fluid"
              src="assets/universidad-surcolombiana.png"
              alt="USCO"
            />
          </div>
        </div>
        <div class="row mt-5">
          <div class="col text-left">
            <h3 class="font-weight-bold">
              <u>Menú inicial</u>
            </h3>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img class="img-fluid" src="assets/menu.gif" alt="USCO" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              En la parte superior derecha, en el ícono de tres líneas
              horizontales, se despliega un menú que muestra las opciones
              disponibles para el vigilante. Desde aquí, el vigilante puede
              escanear y validar el carné digital, generar tiquetes para
              visitantes, y finalmente, cerrar la sesión. La opción de cerrar la
              sesión permite salir del aplicativo y evitar dejar credenciales
              activas.
            </p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img class="img-fluid" src="assets/cierre.gif" alt="USCO" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              Al presionar la foto que se encuentra en la parte superior
              izquierda del menú inicial despliega un cuadro en el cual refleja
              el nombre del usuario y un botón para cerrar la sesión.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img class="img-fluid" src="assets/opciones.jpg" alt="USCO" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              Dentro del menú, encontrarás dos opciones que se explican a
              continuación, las cuales son "Escáner" y "Tiquete".
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col">
            <img
              class="img-fluid"
              src="assets/universidad-surcolombiana.png"
              alt="USCO"
            />
          </div>
        </div>
        <div class="row mt-5">
          <div class="col text-left">
            <h3 class="font-weight-bold">
              <u>Escáner</u>
            </h3>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img class="img-fluid" src="assets/vistas.jpg" alt="USCO" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              El formulario que se muestra en el componente "Escáner" consta de
              las siguientes secciones:
            </p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img class="img-fluid" src="assets/partes.jpg" alt="USCO" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              Cuando se escanea el QR de la credencial digital, el sistema emite
              tres tipos de notificaciones diferentes, según la validez del QR:
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img class="img-fluid" src="assets/noexiste.jpg" alt="USCO" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              El primer caso ocurre cuando la credencial digital no existe, el
              tiquete ha vencido o el QR no está registrado en la institución.
            </p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img class="img-fluid" src="assets/existe.jpg" alt="USCO" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              El segundo caso ocurre cuando la credencial digital es aceptada y
              validada correctamente. En este caso, el sistema notifica que el
              usuario está vinculado con la institución.
            </p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img class="img-fluid" src="assets/repetido.jpg" alt="USCO" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              El último caso ocurre cuando se realiza múltiples lecturas del
              mismo código QR. En este escenario, el sistema establece un
              intervalo de tiempo para permitir tomar una nueva lectura.
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col">
            <img
              class="img-fluid"
              src="assets/universidad-surcolombiana.png"
              alt="USCO"
            />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img class="img-fluid" src="assets/escaneado.jpg" alt="USCO" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              Según el tipo de vinculación del usuario con la institución, su
              credencial digital aparecerá en la parte inferior para vistas
              móviles (tabletas o celulares) o en la parte izquierda para la
              vista en escritorio (computadoras).
            </p>
            <p>Los estamentos que forman parte de la institución son:</p>
            <ol class="font-weight-bold">
              <li>Estudiante</li>
              <li>Estudiante virtual</li>
              <li>Estudiante de intercambio</li>
              <li>Graduado</li>
              <li>Docente</li>
              <li>Administrativo</li>
            </ol>
            <p>
              Además, se incluyen los dos tipos de tiquetes: visitante e
              invitado.
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col">
            <img
              class="img-fluid"
              src="assets/universidad-surcolombiana.png"
              alt="USCO"
            />
          </div>
        </div>
        <div class="row mt-5">
          <div class="col text-left">
            <h3 class="font-weight-bold">
              <u>Tiquete</u>
            </h3>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img class="img-fluid" src="assets/buscar.gif" alt="USCO" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              En este componente, dispone de un formulario en el cual algunas
              opciones no pueden ser editadas hasta que se verifique si el
              usuario ya está vinculado con la institución. El primer campo
              corresponde al número de documento de identidad del usuario. Esta
              funcionalidad permite buscar al usuario por su identificación.
              Para ello, puedes presionar la tecla Enter ubicada en el campo o
              hacer clic en el icono de la lupa para ejecutar la búsqueda y
              precargar los datos del usuario.
            </p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img class="img-fluid" src="assets/sinresultado.gif" alt="USCO" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              Una vez consultado el usuario por su número de identificación,
              obtendrás tres posibles resultados. En el primer caso, se mostrará
              una alerta emergente tal como se visualiza en la imagen anterior.
              Esto significa que la consulta utilizando el número de
              identificación no arrojó ningún usuario relacionado con dicho
              número. Por lo tanto, deberás completar todos los campos
              obligatorios para poder generar el tiquete de invitado.
            </p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img class="img-fluid" src="assets/graduado.gif" alt="USCO" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              El segundo resultado ocurre cuando el número de documento del
              usuario coincide con una vinculación de graduado. En este caso, el
              sistema mostrará una ventana emergente que proporcionará una
              instrucción específica para completar el formulario en situaciones
              excepcionales donde el usuario no cuente con un correo electrónico
              vigente o actualizado.
            </p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img class="img-fluid" src="assets/correo.gif" alt="USCO" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              En el campo de correo electrónico para usuarios ya vinculados, se
              ofrece la opción de desplegar un listado que incluye correo
              interno y correo personal. En el caso de usuarios de terceros,
              solo aparecerá un único correo y se mantendrá por defecto para el
              envío del tiquete, excepto para los usuarios graduados.
            </p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img class="img-fluid" src="assets/cambiocorreo.gif" alt="USCO" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              Los usuarios que son graduados de la Universidad tendrán el correo
              personal cargado por defecto. En caso de que el graduado ya no
              utilice o no tenga disponible ese correo, en la parte superior
              derecha encontrará la opción de cambiar temporalmente el correo
              del graduado para enviar el tiquete en su momento. El cambio
              realizado será notificado a la oficina de graduados para que
              aprueben el cambio del correo correspondiente.
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col">
            <img
              class="img-fluid"
              src="assets/universidad-surcolombiana.png"
              alt="USCO"
            />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img class="img-fluid" src="assets/lugar.jpg" alt="USCO" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              En la sección de ubicación de ingreso, debe seleccionar la sede,
              subsede y especificar el lugar de la visita. Tiene dos opciones:
            </p>
            <ul>
              <li>De manera general, elija la opción "Bloque".</li>
              <li>
                De manera específica, elija la opción "Oficina". Para el campo
                de oficina, se activa una barra de autocompletar donde puede
                escribir palabras clave para buscar la oficina existente.
              </li>
            </ul>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img class="img-fluid" src="assets/generar.gif" alt="USCO" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              La vigencia del tiquete corresponde únicamente al día en que es
              generado.
            </p>
            <p>
              No está habilitada la opción de adjuntar una foto debido a la
              inmediatez de la vigencia; por lo tanto, se omite el uso de una
              foto.
            </p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img class="img-fluid" src="assets/tiquete.jpg" alt="USCO" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              Una vez completado el formulario de tiquete visitante, se
              habilitará el botón "Generar Tiquete". Procesada la solicitud,
              aparecerá la siguiente vista y automáticamente se enviará un
              correo electrónico a la persona con el tiquete, la información
              recolectada.
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col">
            <img
              class="img-fluid"
              src="assets/universidad-surcolombiana.png"
              alt="USCO"
            />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img class="img-fluid" src="assets/imprimir.gif" alt="USCO" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              Una vez finalizada la generación del tiquete, tendrás la opción de
              "Generar otro tiquete". Al seleccionar esta opción, el formulario
              se restablecerá y estará listo para repetir los pasos anteriores.
            </p>
            <p>
              En la parte inferior del formulario, encontrarás una tabla que
              muestra el histórico de los tiquetes generados, con la
              particularidad de que solo podrás visualizar los tiquetes
              generados en el día actual. Esto se realiza con el propósito de
              mantener una trazabilidad, disponer de un respaldo en caso de
              pérdida o necesidad de reenvío, evitar la duplicación del QR de
              días anteriores y permitir la impresión si cuenta con los recursos
              de una impresora.
            </p>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col text-left">
            <h3 class="font-weight-bold">
              <u>Tiquetes (personas no vinculadas con la institución)</u>
            </h3>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <img class="img-fluid" src="assets/tiquetes.jpg" alt="USCO" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-left">
            <p>
              Para las persona que no estén vinculadas a la Universidad, sean
              externas o que por términos de vigencia no estén matriculados o
              accedan a otros servicios de la institución como por ejemplo
              ILEUSCO, podrán solicitar con la oficina de carnetización o un
              vigilante la generación de un tiquete de acceso, existen dos tipos
              de tiquetes y la generación de ellos depende del trámite que se
              lleve a cabo dentro de las instalaciones de la Universidad.
            </p>
            <p>
              <span class="font-usco-vt font-weight-bold"
                >Tiquete de Invitado:</span
              >
              Se caracteriza por tener una vigencia en un intervalo de dos
              fechas, además de una foto el cual identifica a la persona.
            </p>
            <p>
              <span class="font-usco-vt font-weight-bold"
                >Tiquete Visitante:</span
              >
              Se caracteriza por tener una vigencia de un solo día y no tiene
              ningún anexo de foto, solo la información básica del visitante.
            </p>
            <p>
              Para la generación de cualquiera de los dos tiquetes se requiere
              de la siguiente información básica :
            </p>
            <ul>
              <li>Tipo de documento</li>
              <li>Número de documento</li>
              <li>Nombres completos</li>
              <li>Correo electrónico</li>
              <li>Subsede a la cual va a ingresar</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-target="#carouselExampleControls"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-target="#carouselExampleControls"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>
  <div class="row my-2 mt-4">
    <div class="col text-left">
      <button class="btn btn-usco-vt" style="width: 50%">
        <i class="fas fa-arrow-left"></i
        ><a
          class="carousel-control-prev"
          href="#carouselExampleControls"
          role="button"
          data-slide="prev"
          style="width: 50%"
          (click)="scrollToSection('section1')"
        >
          <span class="sr-only">Previous</span>
        </a>
      </button>
    </div>
    <div class="col text-right">
      <button class="btn btn-usco-vt" style="width: 50%">
        <i class="fas fa-arrow-right"></i
        ><a
          class="carousel-control-next"
          href="#carouselExampleControls"
          role="button"
          data-slide="next"
          style="width: 50%"
          (click)="scrollToSection('section1')"
        >
          <span class="sr-only">Next</span>
        </a>
      </button>
    </div>
  </div>
  <br />
</div>
<!-- <footer class="bg-usco-gr-d6">
  <p class="mt-2 font-weight-bold text-white">
    © {{ anio | date : "yyyy" }} CITCD - Version 1 Construcción 1.0
  </p>
</footer>
 -->
