<div class="content">
  <div class="card-login">
    <div class="card-header bg-usco-vt header-usco-card">
      <div class="row">
        <div class="col">
          <img
            title="USCO"
            mat-card-image
            src="assets/universidad-surcolombiana-multicampos-white.png"
            class="img-fluid"
          />
        </div>
      </div>
      <hr class="punteada" />
      <div class="row">
        <div class="col">
          <small class="font-weight-bold text-white">CONTROL DE ACCESO</small>
        </div>
      </div>
    </div>
    <div class="card-body text-center font-usco-gr">
      <div class="container">
        <form form [formGroup]="formLogin">
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width" appearance="outline">
                <span matPrefix class="p-3"
                  ><i class="fa-solid fa-user"></i
                ></span>
                <mat-label>Usuario</mat-label>
                <input
                  matInput
                  formControlName="identificacion"
                  placeholder="Número de cédula"
                  autocomplete="off"
                  name="username"
                  tabindex="1"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width" appearance="outline">
                <span matPrefix class="p-3"
                  ><i class="fa-solid fa-envelope"></i
                ></span>
                <mat-label>Correo</mat-label>
                <input
                  matInput
                  formControlName="correo"
                  type="email"
                  name="password"
                  placeholder="correo@email.edu.co"
                  tabindex="2"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <button
                [disabled]="!formLogin.valid"
                (click)="validarEmail()"
                type="submit"
                class="btn btn-usco-vt"
                tabindex="3"
              >
                Ingresar
                <span
                  *ngIf="cargando"
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col mb-2">
              <small
                [routerLink]="['/instructivo']"
                routerLinkActive="router-link-active"
                class="font-usco-vt font-weight-bold cursor-select"
                ><i class="fa-solid fa-book"></i> Instructivo</small
              >
            </div>
          </div>
          <div>
            <small
              ><b class="version"
                >© {{ today | date : "yyyy" }} CITCD - Version 1 Construcción
                1.0</b
              ></small
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
